.card-area {
    width: 800px;
    height: auto;
    display: flex;

}

.card-area .box {
    width: 300px;
}

.box {
    padding: 20px;
    margin: 0 35px;
    text-align: center;
    box-shadow: 0 0 15px 1px #b5b5b58c;
    border-radius: 2px;
}

.box:hover {
    color: black;
    transition: 0.5s ease;
    position: relative;
    transform: scale(1.1);
    box-shadow: 0px 12px 10px 0px #b4b4b4c2;
}

.box:hover:nth-child(1) {
    background-image: linear-gradient( 135deg, #ffffff 10%, #ffffff 100%);
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid #00000080;
    border-bottom-left-radius: 20px;
}

.box:hover:nth-child(2) {
    background-image: linear-gradient( 135deg, #ffffff 10%, #ffffff 100%);
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid #00000080;
    border-bottom-left-radius: 20px;
}

.box:hover:nth-child(3) {
    background-image: linear-gradient( 135deg, #ffffff 10%, #ffffff 100%);
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid #00000080;
    border-bottom-left-radius: 20px;
}

.box:hover:nth-child(4) {
    background-image: linear-gradient( 135deg, #ffffff 10%, #ffffff 100%);
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid #00000080;
    border-bottom-left-radius: 20px;
}

.cart-img img {
    border-radius: 100px;
    box-shadow: 0px 3px 10px 1px rgba(85, 85, 85, 0.27)
}